/* Nav.module.css */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #191970;
  padding: 0 20px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logoContainer {
  font-weight: bold;
  font-size: 18px;
  width: 15%;
}

.logoutContainer {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  width: 15%;
}

.logoutContainer:hover {
  background: grey;
  cursor: pointer;  
}

.listItemContainer:hover{
  background: gray;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.selected {
  background: grey;
}
